firecares/firecares_core/tests/mocks/wsdl.xml

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ibc.sso/" xmlns:s1="http://ibc.ssoprovider/" xmlns:s2="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://ibc.sso/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ibc.sso/">
      <s:import namespace="http://ibc.ssoprovider/" />
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="ValidateLogOn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="applicationInstance" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ipAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="rememberMe" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLogOnResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateLogOnResult" type="tns:ValidationWrapper" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ValidationWrapper">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsValidated" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="SessionToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StatusMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImisUserId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CookieStructures" type="tns:ArrayOfCookieStructure" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCookieStructure">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CookieStructure" nillable="true" type="tns:CookieStructure" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CookieStructure">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Domain" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Expires" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsHttpOnly" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsSecure" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="FetchUserInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="applicationInstance" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="userToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FetchUserInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchUserInfoResult" type="tns:SSOUserContainer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SSOUserContainer">
        <s:complexContent mixed="false">
          <s:extension base="tns:UserContainer">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="WebLogin" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="UserContainer">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Prefix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Suffix" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FullName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WorkPhone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MemberType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImisId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" ref="s1:ExtensionData" />
        </s:sequence>
      </s:complexType>
      <s:element name="InitializeSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="applicationInstance" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ipAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="timeout" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="rememberMe" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InitializeSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InitializeSessionResult" type="s2:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateSession">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="applicationInstance" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="userToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateSessionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ValidateSessionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisposeSessionByUserName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="applicationInstance" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisposeSessionByUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DisposeSessionByUserNameResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisposeSessionByUserToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="applicationInstance" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="userToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisposeSessionByUserTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DisposeSessionByUserTokenResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Version">
        <s:complexType />
      </s:element>
      <s:element name="VersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ibc.ssoprovider/">
      <s:element name="ExtensionData">
        <s:complexType mixed="true">
          <s:sequence>
            <s:any maxOccurs="unbounded" />
          </s:sequence>
          <s:anyAttribute />
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateLogOnSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateLogOn" />
  </wsdl:message>
  <wsdl:message name="ValidateLogOnSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateLogOnResponse" />
  </wsdl:message>
  <wsdl:message name="FetchUserInfoSoapIn">
    <wsdl:part name="parameters" element="tns:FetchUserInfo" />
  </wsdl:message>
  <wsdl:message name="FetchUserInfoSoapOut">
    <wsdl:part name="parameters" element="tns:FetchUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="InitializeSessionSoapIn">
    <wsdl:part name="parameters" element="tns:InitializeSession" />
  </wsdl:message>
  <wsdl:message name="InitializeSessionSoapOut">
    <wsdl:part name="parameters" element="tns:InitializeSessionResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateSessionSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateSession" />
  </wsdl:message>
  <wsdl:message name="ValidateSessionSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateSessionResponse" />
  </wsdl:message>
  <wsdl:message name="DisposeSessionByUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:DisposeSessionByUserName" />
  </wsdl:message>
  <wsdl:message name="DisposeSessionByUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:DisposeSessionByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="DisposeSessionByUserTokenSoapIn">
    <wsdl:part name="parameters" element="tns:DisposeSessionByUserToken" />
  </wsdl:message>
  <wsdl:message name="DisposeSessionByUserTokenSoapOut">
    <wsdl:part name="parameters" element="tns:DisposeSessionByUserTokenResponse" />
  </wsdl:message>
  <wsdl:message name="VersionSoapIn">
    <wsdl:part name="parameters" element="tns:Version" />
  </wsdl:message>
  <wsdl:message name="VersionSoapOut">
    <wsdl:part name="parameters" element="tns:VersionResponse" />
  </wsdl:message>
  <wsdl:portType name="SSOSoap">
    <wsdl:operation name="ValidateLogOn">
      <wsdl:input message="tns:ValidateLogOnSoapIn" />
      <wsdl:output message="tns:ValidateLogOnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FetchUserInfo">
      <wsdl:input message="tns:FetchUserInfoSoapIn" />
      <wsdl:output message="tns:FetchUserInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InitializeSession">
      <wsdl:input message="tns:InitializeSessionSoapIn" />
      <wsdl:output message="tns:InitializeSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateSession">
      <wsdl:input message="tns:ValidateSessionSoapIn" />
      <wsdl:output message="tns:ValidateSessionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DisposeSessionByUserName">
      <wsdl:input message="tns:DisposeSessionByUserNameSoapIn" />
      <wsdl:output message="tns:DisposeSessionByUserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DisposeSessionByUserToken">
      <wsdl:input message="tns:DisposeSessionByUserTokenSoapIn" />
      <wsdl:output message="tns:DisposeSessionByUserTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Version">
      <wsdl:input message="tns:VersionSoapIn" />
      <wsdl:output message="tns:VersionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SSOSoap" type="tns:SSOSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateLogOn">
      <soap:operation soapAction="http://ibc.sso/ValidateLogOn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchUserInfo">
      <soap:operation soapAction="http://ibc.sso/FetchUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitializeSession">
      <soap:operation soapAction="http://ibc.sso/InitializeSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateSession">
      <soap:operation soapAction="http://ibc.sso/ValidateSession" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisposeSessionByUserName">
      <soap:operation soapAction="http://ibc.sso/DisposeSessionByUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisposeSessionByUserToken">
      <soap:operation soapAction="http://ibc.sso/DisposeSessionByUserToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Version">
      <soap:operation soapAction="http://ibc.sso/Version" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SSOSoap12" type="tns:SSOSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateLogOn">
      <soap12:operation soapAction="http://ibc.sso/ValidateLogOn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FetchUserInfo">
      <soap12:operation soapAction="http://ibc.sso/FetchUserInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InitializeSession">
      <soap12:operation soapAction="http://ibc.sso/InitializeSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateSession">
      <soap12:operation soapAction="http://ibc.sso/ValidateSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisposeSessionByUserName">
      <soap12:operation soapAction="http://ibc.sso/DisposeSessionByUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisposeSessionByUserToken">
      <soap12:operation soapAction="http://ibc.sso/DisposeSessionByUserToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Version">
      <soap12:operation soapAction="http://ibc.sso/Version" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SSO">
    <wsdl:port name="SSOSoap" binding="tns:SSOSoap">
      <soap:address location="http://member.iaff.org/iaff_sso_staging/sso.asmx" />
    </wsdl:port>
    <wsdl:port name="SSOSoap12" binding="tns:SSOSoap12">
      <soap12:address location="http://member.iaff.org/iaff_sso_staging/sso.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
